@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,500&display=swap');
.logoheading{
    font-family: 'Assistant', sans-serif;
    font-size: small;
    font-weight: bold;
}
.subheading{
    font-family: 'Caveat',sans-serif;
}
/*login page  => start */

.cards{
    width: 30rem;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px   
}
.sentenceofin{
    font-family: 'Roboto Flex', sans-serif;
    letter-spacing: 2px;

    
}
.forgot{
    color: rgb(110, 106, 106);
    font-size:medium;
}


/*signup page  => start */

.otp{
    background-color: rgb(7, 207, 11);
    color: beige;
}

.table-bordered {
    border-collapse: collapse;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid black;
}

/* Define five classes for styling */
.row-style-1 {
    background-color: #f0f0f0; /* Light gray */
}

.row-style-2 {
    background-color: #e0e0e0; /* Darker gray */
}

.row-style-3 {
    background-color: #d0d0d0; /* Even darker gray */
}

.column-style-1 {
    text-align: center; /* Center-align content */
}

.column-style-2 {
    font-weight: bold; /* Bold text */
}

.column-style-3 {
    color: blue; /* Blue text */
}
.black-border {
    border: 1px solid black !important;
}

.checkbox-input {
    display: none;
}

/* Style for the custom checkbox */
.custom-checkbox {
    width: 15px;
    height: 15px;
    background-color: black;
    border: 1px solid #999;
    border-radius: 3px;
    cursor: pointer;
}

/* Style for the custom checkbox when checked */
.custom-checkbox.checked {
    background-color: #007bff; /* Change color when checked */
    border-color: #007bff;
}
.table {
    border: none;
    border-collapse: collapse;
    width: 100%;
}

.table td,
.table th {
    border: none;
    padding: 8px; /* Adjust padding as needed */
    text-align: left; /* Adjust text alignment as needed */
}
